.carousel {
    margin-bottom: 60px;
}
.cursos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px
}
#sobre {
    width: 30%;
    text-align: justify;
}
@keyframes animacao {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.paragrafo {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #333;
    animation: animacao 4s steps(140, end) infinite;
}